
  .card-container{
    height: 350px;
    width: 380px;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 12px 10px 13px -7px rgba(0,0,0,0.62);
  -webkit-box-shadow: 12px 10px 13px -7px rgba(0,0,0,0.62);
  -moz-box-shadow: 12px 10px 13px -7px rgba(0,0,0,0.62);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  }
  
  .card-container:hover{
    box-shadow: 12px 10px 34px -7px rgba(0,0,0,0.72);
  -webkit-box-shadow: 12px 10px 34px -7px rgba(0,0,0,0.72);
  -moz-box-shadow: 12px 10px 34px -7px rgba(0,0,0,0.72);
    
  }
  
  .card-upper-text{
    padding: 1em;
    text-align: center;
    font-weight: 700;
    font-size:17px;
  }
  
  .color-box{
    height: 350px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px;
    border-style: double;
  }
  
  .color-name{
    font-weight: 600;
  
  }
  .delete-color{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .delete-color:hover{
    cursor: pointer;
  }
  
  .delete-color img{
    height: 30px;
  }