.App{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color:#282c34 ;
}
body{
  background-color: rgb(235, 235, 235);
  background-color:#282c34 ;

}
.App-header {
  background-color: #b60a99;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container{
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fit,1fr);
}


@media (min-width: 2500px) {
  .grid-container { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 750px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1000px) {
  .grid-container { grid-template-columns: repeat(4, 1fr); }
}


.title h1{
  color: #b60a99;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

.generate-button{
  background-color: greenyellow;
  
  display: flex;
  align-items: center;
  border-radius: 10;
}